
@{
    ViewData["Title"] = "Index";
    VmProductPartial productPartial = new VmProductPartial()
    {
        Title = "Yeni Mallar",
        Price = "50AZn",
        
    };
}

<!-- Page Content -->
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>new arrivals</h4>
                    <h2>sixteen products</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<partial name="_ProductPartial" model="@productPartial" />